@import "tailwindcss";

/* .container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(75, 75, 75);
}
.card{
    width: 300px;
    padding: 20px;
    background: whitesmoke;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.card h3{
    text-align: center;
} */